In [23]:
import numpy as np
import pandas as pd
import os,sys
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import PassiveAggressiveClassifier

In [24]:
df = pd.read_csv("news.csv")

In [25]:
df.head(10)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
5,6903,"Tehran, USA","\nI’m not an immigrant, but my grandparents ...",FAKE
6,7341,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o...",FAKE
7,95,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...,REAL
8,4869,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...,REAL
9,2909,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...,REAL
10,1357,"With all three Clintons in Iowa, a glimpse at ...","CEDAR RAPIDS, Iowa — “I had one of the most wo...",REAL

In [26]:
y = df.label

In [27]:
x_train, x_test, y_train, y_test = train_test_split(df['text'], y, test_size = 0.33, random_state = 42)

model = TfidfVectorizer()

In [29]:
model = TfidfVectorizer()
x = model.fit_transform(x_train)

In [30]:
x1 = model.transform(x_test)

In [31]:
x,x1

(<4244x57109 sparse matrix of type '<class 'numpy.float64'>'
 	with 1431823 stored elements in Compressed Sparse Row format>,
 <2091x57109 sparse matrix of type '<class 'numpy.float64'>'
 	with 714495 stored elements in Compressed Sparse Row format>)

In [34]:
obj = PassiveAggressiveClassifier()
obj.fit(x,y_train)
y_pred = obj.predict(x1)

In [35]:
y_pred

array(['FAKE', 'FAKE', 'FAKE', ..., 'REAL', 'FAKE', 'FAKE'], dtype='<U4')

In [36]:
accuracy_score(y_test,y_pred)

0.9392635102821616

In [37]:
data = {'Actual':y_test, "Predicted":y_pred}
acc = pd.DataFrame(data)

In [38]:
acc

     Actual Predicted
1357   FAKE      FAKE
2080   FAKE      FAKE
2718   FAKE      FAKE
812    FAKE      FAKE
4886   FAKE      FAKE
...     ...       ...
5858   REAL      REAL
4077   FAKE      FAKE
3615   REAL      REAL
4884   FAKE      FAKE
644    FAKE      FAKE

[2091 rows x 2 columns]

In [40]:
confusion_matrix(y_test,y_pred, labels=['FAKE',"REAL"])

array([[1005,   66],
       [  61,  959]], dtype=int64)